/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* --------------- VARIABLE --------------- */
:root {
  /* Primary Color */
  --primary-clr-mirage-50: #f4f6fb;
  --primary-clr-mirage-100: #e8ecf6;
  --primary-clr-mirage-200: #cbd8ec;
  --primary-clr-mirage-300: #9db6dc;
  --primary-clr-mirage-400: #6990c7;
  --primary-clr-mirage-500: #4672b1;
  --primary-clr-mirage-600: #345995;
  --primary-clr-mirage-700: #2b4779;
  --primary-clr-mirage-800: #273e65;
  --primary-clr-mirage-900: #253555;
  --primary-clr-mirage-950: #111827;

  /* Primary Tipography */
  --primary-fs-12: .75rem;
  --primary-fs-14: .875rem;
  --primary-fs-24: 1.5rem;
  --primary-fs-12To16: clamp(0.75rem, 0.663rem + 0.4348vi, 1rem);
  --primary-fs-16To18: clamp(1rem, 2vi + 1rem, 1.125rem);
  --primary-fs-16To20: clamp(1rem, 2vi + 1rem, 1.25rem);
  --primary-fs-16To24: clamp(1rem, 2vi + 1rem, 1.5rem);
  --primary-fs-32To40: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --primary-fs-36To40: clamp(2rem, 2vi + 1rem, 2.5rem);
  --primary-fs-32To36: clamp(2rem, 2vi + 1rem, 2.25rem);
}

/* --------------- LAYOUT --------------- */
body {
  font-family: 'Source Sans 3', sans-serif;
}

.header {
  padding: 1.125em 1.25em;
}

.header, .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu-item {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__menu-link {
  color: inherit;
  text-decoration: none;
}


section:has(.featured-article) {
  height: 100vdh;
  margin-block-end: 5rem;
}

.featured-article {
  position: relative;
  color: var(--primary-clr-mirage-100);
  padding: 1.25em 1.56em;
}

.featured-article__img {
  position: absolute;
  inset: 0;
  z-index: -1;
  /* ⬇️ to be fixed */
  height: 100%;
  width: 100%;
}

.featured-article__date {
  font-size: var(--primary-fs-12To16);
  text-transform: uppercase;
}

.featured-article__title {
  font-size: var(--primary-fs-32To40);
}

.featured-article__title-link {
  color: inherit;
  text-decoration: none;
}

.featured-article__title, .featured-article__txt {
  margin-block-start: .5rem;
}